/* ===== PALETA GLOBAL ===== */
:root {
    --ion-color-scheme: dark;

    --ion-color-primary: #e50914;
    --ion-color-primary-rgb: 229, 9, 20;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #ca0812;
    --ion-color-primary-tint: #ea1f29;


    --ion-color-dark: #141414;
    --ion-color-medium: #2c2c2c;

    /* ALERT */
    --ion-alert-background: #1f1f1f;
    --ion-alert-color: #ffffff;
    --ion-alert-border-radius: 12px;

    /* ALERT BUTTONS */
    --ion-alert-button-color: #e50914;

    /* RADIO (SELECT ALERT) */
    --ion-color-step-850: #1f1f1f;
    --ion-color-step-900: #ffffff;

    /* TOAST */
    --ion-toast-background: #1f1f1f;
    --ion-toast-color: #ffffff;

    /* LOADING */
    --ion-loading-background: #1f1f1f;
    --ion-loading-spinner-color: #e50914;
    --ion-loading-color: #ffffff;
}

/* ===== DARK MODE BASE ===== */
body.dark {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-item-background: #1f1f1f;
    --ion-card-background: #1f1f1f;

    --ion-border-color: #2a2a2a;
}

/* ===== CARDS ===== */
ion-card {
    margin: 12px;
    background: var(--ion-card-background);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

ion-card-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #ffffff;
}

ion-card-content {
    color: #d1d1d1;
}

/* ===== LISTAS ===== */
ion-item {
    --background: #1f1f1f;
    --color: #ffffff;
}


ion-label {
    color: #ffffff;
}

/* Header de listas*/
body.dark ion-list-header {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 1.2px;
    padding-top: 16px;
}

/* ===== BADGES ===== */
ion-badge {
    background: var(--ion-color-primary);
    color: #ffffff;
    font-weight: bold;
}

/* ===== TOOLBAR ===== */
ion-toolbar {
    --background: #141414;
    --color: #ffffff;
}

/* ===== TAB BAR ===== */
ion-tab-bar {
    --background: #141414;
    border-top: 1px solid #2a2a2a;
}

ion-tab-button {
    --color: #b3b3b3;
    --color-selected: var(--ion-color-primary);
}

/* ===== BOTONES ===== */
ion-button {
    --border-radius: 10px;
    font-weight: 600;
    
}




.alert-wrapper.sc-ion-alert-ios {
    background: var(--ion-alert-background) !important;
    color: var(--ion-alert-color) !important;
    border-radius: var(--ion-alert-border-radius) !important;
}

.loading-wrapper.sc-ion-loading-ios {
    background: var(--ion-loading-background) !important;
    color: var(--ion-loading-color) !important;
}

.toast-wrapper.sc-ion-toast-ios {
    background: var(--ion-toast-background) !important;
    color: var(--ion-toast-color) !important;
}

.toast-message.sc-ion-toast-ios {
    color: #ffffff !important;
    font-size: 0.9rem;
}